<% include partials/header %>

<div class="container my-5">
    <div>
        <h1 class="display-4 my-5">Sign Up</h1>
        <form class="form-group" method="post" action="/signup">
            <input class="w-50 m-4 form-control" type="text" name="username" placeholder="username">
            <input class="w-50 m-4 form-control" type="password" name="password" placeholder="password">
            <button class="w-50 ml-4 btn btn-info">Sign Up</button>
        </form>
    </div>
</div>




<% include partials/footer %>