#landing-header {
    text-align: center;
    padding-top: 40vh;
    z-index: 1;
    position: relative;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}

.display-4 {
    font-weight: 500;
}

body {
    background-color: black;
}

.slideshow {
    position: fixed;
    z-index: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

.slideshow li {
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%; 
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}

.slideshow li:nth-child(1) {
    background-image: url(https://images.unsplash.com/photo-1530541930197-ff16ac917b0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
}

.slideshow li:nth-child(2) {
    background-image: url(https://images.unsplash.com/photo-1535700601052-b90a78c466f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1340&q=80);
    animation-delay: 10s;
}

.slideshow li:nth-child(3) {
    background-image: url(https://images.unsplash.com/photo-1465800872432-a98681fc5828?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1496&q=80);
    animation-delay: 20s;
}

.slideshow li:nth-child(4) {
    background-image: url(https://images.unsplash.com/photo-1510277861473-16b27b39c47a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
    animation-delay: 30s;
}

.slideshow li:nth-child(5) {
    background-image: url(https://images.unsplash.com/photo-1498825350378-fc468c285f96?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1376&q=80);
    animation-delay: 40s;
}

@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 1;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}